<div id="<%= dom_id customer %>">
  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= customer.mobile %>
  </p>

  <p>
    <strong>Alternate mobile:</strong>
    <%= customer.alternate_mobile %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Driving license no:</strong>
    <%= customer.driving_license_no %>
  </p>

  <p>
    <strong>License expiry:</strong>
    <%= customer.license_expiry %>
  </p>

  <p>
    <strong>Id proof type:</strong>
    <%= customer.id_proof_type %>
  </p>

  <p>
    <strong>Id proof number:</strong>
    <%= customer.id_proof_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= customer.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= customer.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= customer.country %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= customer.pincode %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= customer.notes %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= customer.status %>
  </p>

  

</div>
